@using OnlineStore.Infrastructure.Global;
@model OnlineStore.Domain.Model.User;
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<!-- begin::Head -->
<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <meta name="description" content="Login page">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--begin::Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700">        <!--end::Fonts -->
    <!--begin::Page Custom Styles(used by this page) -->
    <link href="~/css/login.css" rel="stylesheet" type="text/css" />
    <!--end::Page Custom Styles -->
    <!--begin::Global Theme Styles(used by all pages) -->
    <link href="~/css/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles -->
    <!--begin::Layout Skins(used by all pages) -->
    <link href="~/css/light.css" rel="stylesheet" type="text/css" />
    <link href="~/css/other/light.css" rel="stylesheet" type="text/css" />
    <link href="~/css/dark.css" rel="stylesheet" type="text/css" />
    <link href="~/css/other/dark.css" rel="stylesheet" type="text/css" />
    <!--end::Layout Skins -->

    <link rel="shortcut icon" href="#" />
</head>
<!-- end::Head -->
<!-- begin::Body -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--fixed kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">
    <!-- begin:: Page -->
    <div class="kt-grid kt-grid--ver kt-grid--root">
        <div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v6 kt-login--signin" id="kt_login">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">
                <div class="kt-grid__item  kt-grid__item--order-tablet-and-mobile-2  kt-grid kt-grid--hor kt-login__aside">
                    <div class="kt-login__wrapper">
                        <div class="kt-login__container">
                            <div class="kt-login__body">
                                <div class="kt-login__logo">
                                    <a href="#">
                                        <img src="~/images/logo-2.png" />
                                    </a>
                                </div>

                                <div class="kt-login__signin" id="ResetPassword">
                                    <form onsubmit="return false">
                                        @if (Model.Cnt == 1)
                                        {
                                            <h1>Your password has expired. Please create a new password.</h1>
                                        }
                                        else
                                        {
                                            <h1>Reset Password</h1>
                                        }
                                        <div class="kt-login__form">
                                            <div class="form-group">
                                                <input class="form-control" id="PasswordOtp" type="text" placeholder="Password OTP" name="PasswordOTP" autocomplete="off">
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control" id="Password" type="password" placeholder="New Password" name="Password">
                                                <input type="hidden" name="UserID" id="hfUserID" value="@Model.UserIDEncry">
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control form-control-last" id="CPassword" type="password" placeholder="Confirm Password" name="Confirm Password">
                                            </div>
                                            <div class="kt-login__actions">
                                                <button id="btnResetPassword" type="submit" class="btn btn-brand btn-pill btn-elevate">Reset Password</button>
                                            </div>
                                        </div>
                                        <div class="kt-login__head">
                                            <div class="reset-ins">
                                                <ul>
                                                    <li>Password should be 9 characters minimum</li>
                                                    <li>One Number</li>
                                                    <li>One Capital</li>
                                                    <li>One Lowercase</li>
                                                </ul>
                                            </div>
                                        </div>


                                        @if (Model.Message == "Expired")
                                        {
                                            <script type="text/javascript">
                                                alert("One hour time duration expired to reset password.Try again with new password!");
                                                window.location = "/Login/";
                                            </script>
                                        }

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="kt-grid__item kt-grid__item--fluid kt-grid__item--center kt-grid kt-grid--ver kt-login__content login-bg">
                    <div class="kt-login__section">
                        <div class="kt-login__block">
                            <h3 class="kt-login__title">Reset Password</h3>
                            <div class="kt-login__desc">
                                Login into your account
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end:: Page -->
    <!-- begin::Global Config(global config for global JS sciprts) -->
    <script>
        var KTAppOptions = {
            "colors": {
                "state": {
                    "brand": "#5d78ff",
                    "dark": "#282a3c",
                    "light": "#ffffff",
                    "primary": "#5867dd",
                    "success": "#34bfa3",
                    "info": "#36a3f7",
                    "warning": "#ffb822",
                    "danger": "#fd3995"
                },
                "base": {
                    "label": [
                        "#c5cbe3",
                        "#a1a8c3",
                        "#3d4465",
                        "#3e4466"
                    ],
                    "shape": [
                        "#f0f3ff",
                        "#d9dffa",
                        "#afb4d4",
                        "#646c9a"
                    ]
                }
            }
        };
    </script>

    <script src="~/knockout/knockout-min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- end::Global Config -->
    <!--begin::Global Theme Bundle(used by all pages) -->
    <script src="js/plugins.bundle.js" type="text/javascript"></script>
    <script src="js/scripts.bundle.js" type="text/javascript"></script>
    <!--end::Global Theme Bundle -->
    <!--begin::Page Scripts(used by this page) -->

    <script src="js/login-general.js" type="text/javascript"></script>
    <!--end::Page Scripts -->

</body>
<!-- end::Body -->
</html>
<script src="~/Scripts/KnockoutViewModel/User/UserViewModel.js" asp-append-version="true"></script>

