@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label>Weight (kg)</label>
            <input type="text" class="form-control" placeholder="Enter Weight">
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label>Dimensions (cm)</label>
            <div class="row">
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="Length">
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="Width">
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="Height">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label>Shipping class</label>
            <select class="form-control">
                <option>No shipping class</option>
                <option>Shipping class 1</option>
                <option>Shipping class 2</option>
            </select>
        </div>
    </div>
</div>